{% extends "ManagerBundle:Default:base.html.twig" %}

{% block title %}{% block subtitle %}{% endblock %} - EveMapp WebManager{% endblock %}

{% block stylesheets %}
    {% block substylesheets %}{% endblock %}
{% endblock %}

{% block scripts %}
    {% block subscripts %}{% endblock %}
{% endblock %}

{% block content %}

    <div id="content">
        {% block subcontent %}
        {% endblock %}
    </div>
    {% if showactions is defined %}
        <div id="actions">
            <h2>Actions</h2>
            {% block actions %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}