<div id="mapObjectInfoEdit">
    <h2>Edit Object Information</h2>

    <h3>Description</h3>

    <div>
        <textarea id="mapObjectEditorDescription" placeholder="Your description here." rows="5" cols="40"></textarea>
    </div>
    <h3>{{ type }}</h3>
    <div id="mapObjectEditorPrices">

    </div>
    <p>Leaving a name field empty will remove the box on closing this window</p>


    <div id="btAddEntry">Add entry</div>
    <div id="overlayCloser">Close</div>
</div>