/**
* EVENTS MAIN
*/
#content {
    width: 650px;
    float: left;
}

#actions {
    width: 150px;
    float: right;
}

#content,
#actions {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 15px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
}

.actionButton {
    height: 20px;
    margin: 20px auto;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

.actionButton a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

/**
* EVENT SHOW
*/
#content img {
    width: 500px;
}

/**
* EVENT FORMS
*/

.formElement {
    margin-bottom: 10px;
}

.formLabel {
    font-size: 20px;
    display: inline-block;
    width: 100px;

}

.formWidget {
    display: inline-block;
    width: 300px;
}

.formError {
    color: #ff0000;
    display: inline-block;
}

.formWidget input[type='text'] {
    width: 300px;
    padding: 2px 2px 2px 5px;
}

#event_submit {
    width: 200px;
    margin-top: 20px;
    height: 24px;
}

#map {
    position: relative;
    display: inline-block;
    width: 650px;
    height: 400px;
    clear: both;
    margin-top: 20px;
    margin: 0 auto;
}

/**
* EVENT LIST
*/

.event_table {
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
}


.event_table th {
    font-size: 20px;
    text-align: left;
}

.event_table td {
    width: 200px;
}