/**
* MAIN BODY
*/


body {
    background-image: url('../images/background.jpg');
    font-family: Josefin Slab,sans-serif;
}

.pageContainer {
    width: 900px;
    margin: 0 auto;
    position: relative;
    display: block;
    clear: both;
    overflow: auto;
}


/**
* LOGIN PAGE
*/
div.foo {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    width:  305px;
    padding: 10px;
    margin: 15px;
    display: inline-block;
    float: left;

}

div.right {
    margin-right: 10px;
}

div.left {
    margin-left: 10px;
}

div.fooHeader {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

div.foo table {
    margin: 0 auto;
}

div.foo td.label {
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
}

div.foo td.input {
    width: 200px;
}

input[type=text], input[type=password] {
    border-radius: 2px;
    border: none;
    background-color: white;
    width: 200px;
}

input[type=submit] {
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 60px;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
}

div.welcome {
    width: 660px;
    margin: 10px;
    padding: 10px;
}


/**
* MAP
*/

html, body, #map {
    padding:0;
    margin:0;
    height:100%;
}
#LocateButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
}
#HomeButton {
    position: absolute;
    top: 140px;
    left: 20px;
    z-index: 50;
}

h1, h2 {
    text-align: center;
    width: 100%;
}

/**
* FLASHES
*/

div.notice, div.warning {
    width: 30%;
    font-size: 18px;
    border-radius: 5px;
    margin: 20px auto 0;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.3);
}

div.notice {
    color: orange;
}

div.warning {
    color: red;
}

